/* body{
    background-color: #051D3B
} */


/* .cabecalho{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__botao-pesquisa:hover{
    background: rgba(80, 129, 251, 0.08);
    border-style: solid;
    border-radius:35%;
}
.cabecalho__botao-pesquisa:active{
    background: rgba(80, 129, 251, 0.16);
    border-style: solid;
    border-radius:35%;
}
.cabecalho__botao-menu:hover{
    background: rgba(80, 129, 251, 0.08);
    border-style: solid;
    border-radius: 35%;
}
.cabecalho__botao-menu:active{
    background: rgba(80, 129, 251, 0.16);
    border-style: solid;
    border-radius:35%;
}

.cabecalho__menu{
    position: absolute;
    width: 254px;
    height: 571px;
    right: 1rem;
    top: 5.5rem;
    box-sizing: border-box;
    padding: 1.5rem;
    

    background: #2D415B;
    border-radius: 8px;

    visibility: hidden;

} 

.cabecalho__menu-aberto{
    visibility: visible;
}

.cabecalho__menu-item{
    padding-bottom: 1rem;
        
    list-style-type: none;
    
}

.cabecalho__menu-link{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-decoration: none;

    display: flex;
    align-items: center;
    
    
}
.cabecalho__menu-box-icon{
    width: 3rem;
    height: 3rem;
    
    margin-right: 1rem;
    
    background-color: #5081FB16;
    
    
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho__menu-box-icon-ativo{
    background-color: #5081FB;
}

.cabecalho__menu-linha{
    opacity: 0.08;
    border: 1px solid #FFFFFF;
    margin: .5rem 0;
}

.cabecalho__menu-perfil{
    margin: 1.5rem 0;
    padding: .75rem;

    
}

.cabecalho__menu-img-perfil{
 padding-right: .5rem;
} */




/* editor de código */

/* main{
    display: flex;
    flex-direction: column;
} */
/* .editor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.editor__caixa-colorida{
    width: 100%;
    height: 30.75rem;
    margin: 2.5rem 1rem 1rem 1rem;
    border-style: solid;
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.editor__caixa-codigo{
    width: 100%;
    height: 24.75rem;
    margin: 2rem 2rem 2rem 2rem;
    background-color: #141414;
    border-style: solid;
    border-radius: 8px;
    padding: 1rem;
}
.editor__bolinhas{
    display: flex;
}
.editor__bolinha-vermelha{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #FF5F56;
    border-style: solid;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.editor__bolinha-amarela{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #FFBD2E;
    border-style: solid;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.editor__bolinha-verde{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #27C93F;
    border-style: solid;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.editor__input-codigo{
    padding-top: 1.5rem;
    display: flex;

    width: 100%;
    height: 22.2rem;
}
.editor__input-codigo pre{
    display: flex;
    width: 100%;
        
}
.editor__code{
    word-break: break-all;
    white-space: pre-wrap;
    outline: none;
       
    background-color: #141414;
    
    
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    width: fit-content;
    width: 100%;
}
pre code.hljs{
    padding: 0;
}

.editor__botao-highlight{
    width: 100%;
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem;
    background: rgba(80, 129, 251, 0.08);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    

    border-style: none;
    border-radius: 8px;
   
}
.editor__botao-highlight:hover{
    background: rgba(80, 129, 251, 0.16);
}
.editor__botao-highlight:active{
    border: 4px solid rgba(80, 129, 251, 0.24);
    padding: 0.75rem;
    background: rgba(80, 129, 251, 0.16);
} */






/* formulario projeto */

.form-projeto{
    display: flex;
    flex-direction: column;   
}
.form-projeto__seu-projeto{
    display: flex;
    flex-direction: column;
}
.form-projeto__titulo-bloco{
    padding: 2.5rem 1rem 0 1rem;
    
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.form-projeto__titulo-projeto{
    margin: 1rem 1rem 0 1rem;
    height: 1.5rem;
    padding: 1rem;
    border-style: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    outline: none;

    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
}
::placeholder{
    color: rgba(255, 255, 255, 0.64);
}
.form-projeto__titulo-projeto:hover{
    background: rgba(255, 255, 255, 0.24);
}
.form-projeto__descriçao-projeto{
    margin: 1rem 1rem 0 1rem;
    height: 3rem;
    padding: 1rem;
    border-style: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    outline: none;

    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
}
.form-projeto__descriçao-projeto:hover{
    background: rgba(255, 255, 255, 0.24);
}
.form-projeto__personalizaçao{
    display: flex;
    flex-wrap: wrap;
}
.form-projeto__linguagem{
    margin: 1rem 1rem 0 1rem;
    width: 100%;
    height: 3.5rem;
    padding-left: 1rem;    
    border-style: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    outline: none;

    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
}
.form-projeto__linguagem:hover{
    background: rgba(255, 255, 255, 0.24);
}
.form-projeto__linguagem option{
    background-color: #051D3B;
}
.form-projeto__cor{
    margin: 1rem 1rem 0 1rem;
    width: 100%;
    height: 3.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background: rgba(196, 196, 196, 0.01);
    padding: 1px 4px;
}
.form-projeto__botao-salvar{
    margin: 2rem 1rem 2.5rem 1rem;
    padding: 1rem;
    background: rgba(80, 129, 251, 1);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgba(5, 29, 59, 1);

    border-style: none;
    border-radius: 8px;
}
.form-projeto__botao-salvar:hover{
    background: rgba(123, 164, 252, 1);
}
.form-projeto__botao-salvar:active{
    background: rgba(123, 164, 252, 1);
    border: 4px solid rgba(80, 129, 251, 0.72);
    padding: 0.75rem 1rem;
}
.form-projeto__botao-salvar:focus{
    background: rgba(150, 185, 253, 1);
}







/* COMUNIDADE */
/* .editor__comunidade{
    background: rgba(0, 0, 0, 0.16);
    margin: 2.5rem 1rem 0 1rem;
    border-radius: 8px;

   
} */

/* .editor__caixa-colorida--comunidade{
    height: 25.125rem;
    margin: 0;
} */
/* .editor__caixa-codigo--comunidade{
    height: 20.625rem;
    padding: .75rem;
    margin: 1.5rem;
} */
/* .editor__input-codigo--comunidade{
    padding-top: .75rem;
} */
/* .editor__input-codigo--comunidade p{
    height: 19.125rem;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    overflow: hidden; 
    
} */


/* 
.editor__card{    
    width: 100%;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;

}
.editor__card-content{
    margin: 0 1.5rem;
    padding: 1.5rem 0 1.5rem 0;
}
.editor__card-content h2{
    padding-bottom: .5rem;

    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.editor__card-actions{
    
    margin: 0 1.5rem;
    padding-bottom: 1.5rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.editor__card-actions-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.editor__card-actions-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 0;
}
.editor__card-actions-comment:hover{
    background: rgba(255, 255, 255, 0.08);
    border-style: solid;
    border-radius: 1rem;   
}
.editor__card-actions-comment:active{
    background: rgba(255, 255, 255, 0.16);
    border-style: solid;
    border-radius: 1rem;   
}
.editor__card-actions-fav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 0;
}
.editor__card-actions-fav:hover{
    background: rgba(255, 255, 255, 0.08);
    border-style: solid;
    border-radius: 1rem; 
}
.editor__card-actions-fav:active{
    background: rgba(255, 255, 255, 0.16);
    border-style: solid;
    border-radius: 1rem; 
}
.editor__card-actions-icons img{
    padding: 0 .5rem;  
}
.editor__card-actions-icons p{
    padding-right: .5rem;
}

.editor__card-actions-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
}
.editor__card-actions-autor:hover{
    background: rgba(255, 255, 255, 0.08);
    border-style: solid;
    border-radius: .5rem;
}
.editor__card-actions-autor p{
    padding-left: .5rem;
} */








