body{
    background-color: #051D3B
}


/* header */

.cabeçalho{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* colocar hover pra mobile? */
.cabeçalho__botao-pesquisa:hover{
    background: rgba(80, 129, 251, 0.08);
    border-style: solid;
    border-radius:35%;
}
.cabeçalho__botao-pesquisa:active{
    background: rgba(80, 129, 251, 0.16);
    border-style: solid;
    border-radius:35%;
}
.cabeçalho__botao-menu:hover{
    background: rgba(80, 129, 251, 0.08);
    border-style: solid;
    border-radius:35%;
}
.cabeçalho__botao-menu:active{
    background: rgba(80, 129, 251, 0.16);
    border-style: solid;
    border-radius:35%;
}

/* editor de código */

main{
    display: flex;
    flex-direction: column;
    
}




.editor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.editor__caixa-colorida{
    width: 100%;
    height: 30.75rem;
    margin: 2.5rem 1rem 1rem 1rem;
    background-color: #6BD1FF;
    border-style: solid;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.editor__caixa-codigo{
    width: 100%;
    height: 24.75rem;
    margin: 2rem 2rem 2rem 2rem;
    background-color: #141414;
    border-style: solid;
    border-radius: 8px;
    padding: 1rem;
}
.editor__bolinhas{
    display: flex;
}
.editor__bolinha-vermelha{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #FF5F56;
    border-style: solid;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.editor__bolinha-amarela{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #FFBD2E;
    border-style: solid;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.editor__bolinha-verde{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #27C93F;
    border-style: solid;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.editor__input-codigo{
    padding-top: 1.5rem;
    display: flex;
}
.editor__input-codigo textarea{
    background-color: #141414;
    width: 100%;
    height: 22.2rem;
    border-style: none;
    resize: none;

    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}


.editor__botao-highlight{
    width: 100%;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    background: rgba(80, 129, 251, 0.08);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;

    border-style: none;
    border-radius: 8px;
   
}
.editor__botao-highlight:hover{
    background: rgba(80, 129, 251, 0.16);
}
.editor__botao-highlight:active{
    border: 4px solid rgba(80, 129, 251, 0.24);
    padding: 0.75rem;
    background: rgba(80, 129, 251, 0.16);
}











